body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 1200px; /* Adjusted for wider layout */
    margin: auto;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    width: calc(33% - 20px); /* Adjust width for 3 products per row, accounting for margin */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the items */
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.product h4, .product p {
    text-align: center;
}

.cart-item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button, .cart-item button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover, .cart-item button:hover {
    background-color: #45a049;
}

.cart-item button {
    padding: 5px 10px;
    font-size: 14px;
}

.total-price {
    font-weight: bold;
    margin-top: 20px;
}
